@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #444;
  font-size: 1.6rem;
  font-family: Lato, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.align_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: 50px;
  font-size: 8vw;
  color: #111;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
  display: inline-block;
}
@media (max-width: 525px) {
  .Title {
    font-size: 42px;
  }
}
@media (min-width: 937.5px) {
  .Title {
    font-size: 75px;
  }
}

.Title-sub {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 0.34em;
  letter-spacing: 0.16em;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-top: 1.2rem;
  padding-top: 1.6rem;
  border-top: 0.45em solid;
}

.u-shadow {
  text-shadow: 4px 4px 0 #6fd1bd;
  transition: text-shadow 0.2s ease-in-out;
}
a:hover .u-shadow {
  text-shadow: -4px -4px 0 salmon;
}

ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

li {
margin: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

footer {
  margin-top: 100px;
  text-align: center;
  color: grey;
}

a {
  text-decoration: line-through grey;
  color: grey;
}

.none {
  display: none;
}
